figure {
  position: relative;
  left: -20px;
  display: table;
  max-width: 190%;
}

figure img {
	zdisplay: block;
	max-width: 190%;
}


figcaption {
	display: table-caption;
	zcaption-side: bottom;
	max-width: 190%;
}
