.bookcover {
	margin-bottom: -80px;
}

.options {
	display: inline;
	list-style-type: none;
	padding: 0px
}

ul {
	margin-bottom: 50px;
}


.options li {
	list-style: none;
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	color: #131313;
	margin-bottom: 15px;
	background-color: #3892c8;
	color: #fff;
	padding: 15px 15px;
	transition-property: background-color, color;
	transition-duration: .75s;
	transition-timing-function: ease-out;
	cursor: pointer;
}


.options li:hover {
	transition-property: background-color, color;
	transition-duration: .4s;
	transition-timing-function: ease-out;
	background-color: #46b7fa; 
}


.bookcover img, .blackout {  /* need to set width for media queries to work  */
	max-width: 100%;
	width: 413px;
}


.blackout {
	background-color: #f3b128; 
	position: relative;
	height: 100px;
	top: -260px;
}

.off {
	opacity: 0;
}

.on {
	opacity: 1;
}

.fat {
	height: 120px;
}



@media (min-width: 425px) {  
	.blackout {               
		top: -325px;
	}

	.fat, .high {
		top: -350px;
	}
}

@media (min-width: 500px) {  
	.blackout {               
		top: -350px;
	}

		.fat, .high {
		top: -380px;
	}
}

@media (min-width: 580px) {  
	.blackout {               
		top: -425px;
	}

	.fat, .high {
		top: -435px;
	}
}

@media (min-width: 640px) {  /* iPhone */
	.blackout {
		top: -445px;
	}

	.fat, .high {
		top: -455;
	}
}


@media (min-width: 680px) { 
	.fat, .high {
		top: -470px;
	}
}

@media (min-width: 700px) { 
	.blackout {
		top: -490px;
	}

	.fat, .high {
		top: -500px;
		height: 155px;
	}
}


@media (min-width: 740px) {  
	.blackout {
		top: -500px;
	}

	.fat, .high {
		top: -525px;
	}
}

@media (min-width: 768px) {  /* Windows Phone */
	.blackout {
		top: -315px;
	}

	.fat, .high{
		height: 100px;
		top: -330px;
	}


}

@media (min-width: 992px) { 
	.blackout {
		top: -400px;
	}
}

@media (min-width: 1024px) { /* iPad */
	.blackout {
		top: -420px;
	}

	.fat {
		top: -435px;
		height: 155px;
	}

	.high {
		top: -445px;
	}
}

@media (min-width: 1200px) { 
	.blackout {
		top: -530px;
		height: 150px;
	}

	.fat {
		height: 150px;
		top: -540px;
	}
}

@media (min-width: 1280px) { /* small desktop, netbook */
	.blackout {
		top: -520px;
	}

	.fat{
		height: 150px;
		top: -530px;
	}

	.high {
		top: -550px;
	}
}

.blackout {
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}

.result_container, .score_container, .total_score {
	transition-property: opacity;
	transition-duration: .7s;
	transition-timing-function: ease-out;
}


