figcaption {
	color: #3f3f3f;
	background: #fff;
	font-family: 'Merriweather', serif; 
	font-size: 16px;
	padding: 0;
}

h1, h2, h3 {
  margin: 40px 0px 10px;
  letter-spacing: -2px;
}


h1:first-child {
    margin: 20px 0px; 
}


#next_btn, #prev_btn {
	padding: 8px;
	color: white;
	background-color: #337ab7;
	font-size: 15px;
	font-family: "Merriweather-Sans", sans-serif;
	width: 85px;
	text-align: center;
	zmargin-top: 0px;
	margin-bottom: 20px;
	zmargin-left: 0px;
	zmargin-right: 0px;
}

#next_btn:hover, #prev_btn:hover {
	background-color: #5090d0;
}

#next_btn, #prev_btn {
	float: right;
	margin-left: 20px;
}

#next_btn:before {
	content: "Next";
}

z#prev_btn {
  float:  right; left;
	zmargin-right: 20px;
}

#prev_btn:before {
	content: "Previous";
}


.category_title {
	margin-top: 0px;
}

.fb-comments {
	margin-top: 15px;
	margin-bottom: 30px;
}
