/*
	Main title
*/

a>.featured_title:hover {
	text-decoration: underline;
}

figure {
	margin: 10px auto;
}



/*
	 Featured article
*/

#latest {
	color: white;
	background-color: #CD3300;
	border-radius: 2px;
	padding: 2px 4px;
	margin-bottom: 20px;
}


.featured_title {
	line-height: 1.1em;
	text-decoration: none;
	color: #414f55; 
	font-size: 43px;
	font-weight: bold;
	font-family: "Merriweather Sans", "Open Sans", sans-serif;
	letter-spacing: -3px;
	zmargin-bottom: 10px;
}


/* 
   Recent articles 
*/
.recent_header {
	border-bottom: 8px solid #CD3300;
	padding-bottom: 5px;
	letter-spacing: -2px;
	font-weight: 600;
}


.date {
	float: none;
	margin-bottom: 8px;
}

.recent {               /* each recent article */
	background-color: white;
	overflow: hidden;
	padding: 0px 15px; 	
	margin: 10px 1px 20px;
	border-bottom: 1px dashed #efefef;
}

.recent p {
	font-size: 16px;  
}

.recent img {
	width: 100%;
}


#leftrecent, #rightrecent {
	float: left;
	width: 50%;
}

#leftrecent {
	padding-right: 10px;
	border-right: 1px solid #efefef;
}

#rightrecent {
	padding-left: 10px;
}

.recent:hover {
	opacity: .9;
}

/* 
	Popular menu 
*/

.rank {
	position: relative;
	ztop: -10px;
	left: -10px;
	zdisplay: inline;
	float: left;
	background-color: rgb(205, 51, 0);
	color: #fff;
	padding: 5px 10px 5px 12px;
	font-size: 18px;
	font-family: "Merriweather Sans", "Open Sans", sans-serif;
	margin-right: 2px;
	margin-bottom: 200px;
}


@-moz-document url-prefix() {  /* hack to deal with ff not know max-width */
  img {
     max-width: 220px;
  }

  .menu_item img {
    max-width: 140px;
  }

  .featured img {
  	max-width:610px;
  	overflow: hidden;
}

#menu_heading {
	margin-top: 0px;
}