/*
	Main title
*/

a>.title {
	color: #414f55;
}

figure {
	margin: 0px auto;
}

.date {
	float: none;
}

#twitter, .fb-like {
	float:left;
}

.fb-share-button {
  margin: 0px 0px;
} 




/* 
   Recent articles 
*/
.recent_header {
	border-bottom: 8px solid #CD3300;
	zmargin: 40px 0px 0px;
	padding-top: 10px;
	padding-bottom: 5px;
	letter-spacing: -2px;
	font-weight: 600;
}

#latest {
	color: white;
	background-color: #CD3300;
	border-radius: 2px;
	padding: 2px 4px;
	margin: 15px;
}

#recent_container {
	zborder: 10px solid #ebebeb; #009ACD; #ebebeb;
	zbackground-color: #ebebeb;
}


.recent h4 {
	font-weight: 600;
}

.recent {               /* each recent article */
	background-color: white;
	float: left;
	width: 49.5%;
	height: 500px;
	overflow: hidden;
	padding: 40px 20px; 	
	margin: 3px 1px;
	border: 1px solid #d8d8d8; #009ACD;;
}

.recent p {
	font-size: 16px;  
}

.recent img {
	width: 100%;
}

#main:hover,
.recent:hover {
	opacity: .9;
}


@-moz-document url-prefix() {  /* hack to deal with ff not know max-width */
  img {
     max-width: 220px;
  }

  .menu_item img {
    max-width: 140px;
  }

  .featured img {
  	max-width:610px;
  	overflow: hidden;
}

#menu_heading {
	margin-top: 0px;
}
