/*
	Main title
*/

a>.featured_title:hover {
	text-decoration: underline;
}

figure {
	margin: 10px auto;
}


.featured_img {
	height: 200px;
	overflow: hidden;
	margin: 10px 0px;
}

.mediumimage {
	height: 150px;
	overflow: hidden;
}


/*
	 Featured article
*/

#latest {
	color: white;
	background-color: #dbdbdb; #CD3300;
	border-radius: 2px;
	padding: 2px 5px 2px 4px;
	margin-bottom: 20px;
	margin-left: 10px;
}


.featured_title {
	line-height: 1.1em;
	text-decoration: none;
	color: #414f55; 
	font-size: 36px;
	zfont-weight: bold;
	font-family: "Merriweather Sans", "Open Sans", sans-serif;
	letter-spacing: -3px;
	margin-bottom: 10px;
}


/* 
   Recent articles 
*/
.recent_header {
	zborder-bottom: 8px solid #CD3300;
	padding-bottom: 5px;
	letter-spacing: -2px;
	font-weight: 600;
}


.date {
	float: none;
	margin-left: 8px;
}

.recent {               /* each recent article */
	background-color: white;
	padding: 25px 10px 0px; 	
	border-top: 1px solid #ececec;
}

.recent p {
	font-size: 16px;  
}

.recent img {
	width: 100%;
}


#leftrecent, #rightrecent {
	margin-top: 20px;
	float: left;
	width: 50%;
}

#leftrecent {
	padding-right: 10px;
	border-right: 1px solid #efefef;
}

#rightrecent {
	padding-left: 10px;
}

.recent:hover {
	opacity: .9;
}




@-moz-document url-prefix() {  /* hack to deal with ff not know max-width */
  img {
     max-width: 220px;
  }

  .menu_item img {
    max-width: 140px;
  }

  .featured img {
  	max-width:610px;
  	overflow: hidden;
}

#menu_heading {
	margin-top: 0px;
}