@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,800,700|Merriweather');


/* Override HTML defaults */
body { 
  font-family: Merriweather, serif;
  color: #414f55; 
}

p { 
  font-size: 17px; 
  margin: 10px 0px 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  line-height: 1.2em;
  color: #414f55;
}

a, a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

figcaption, .figcaption {
    background-color: #e9e9e9;
    padding: 5px 15px;
    font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
    text-align: left;
    font-size: 12px;
    color: #1a1a1a;
  display: table-caption;
  caption-side: bottom;
}

figure {
  margin: 10px 0px 40px;
  display: table;
}

.clearfix {
  clear: both;
}


.category_title {
  font-size: 40px;
  letter-spacing: -3px;
  font-weight: bold;
  font-family: "Merriweather Sans", "Open Sans", Helvetica, sans-serif;
  margin: 40px 0px 20px;
  display: inline-block;
  border-bottom: 10px solid #CD3300; }


  .category_title:first-child {
    margin: 20px 0px; }


/*Override bootstrap*/
.navbar-default {
  background-color: #fff;
  border: 0px;
  border-radius: 0px;
  padding-bottom: 1px; 
  border-bottom: 30px solid #009ACD; #CD3300; #d8d8d8;  #3a3a3a; 
}

#site_title {
  float: left;
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -2px;
  color: #CD3300;
  position: relative;
  top: 20px; 
}

#tagline {
  font-size: 14px;
  font-weight: 400;
  color: #555;
  letter-spacing: 0px;
  display: block;
  position: relative;
  top: -3px;
}


.navbar-header img {
  display:inline; 
  margin-right:20px;
  height: 65px;
  border: 0px;
  margin-top: 5px;
  float: left;
}


ul#menu li a:hover{
  border-top: 5px solid #CD3300;
  transition-duration: 300ms; 
  transition-timing-function: ease-out;
  cursor: pointer;
} 

ul#menu li a { 
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  font-size: 13.5px;
  font-weight: bold;
  color: #CD3300;
  letter-spacing: -1px;
  text-align: center;
  border-top: 5px solid white;
  padding-top: 20px;
} 

ul#menu li.active>a,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
  background-color: #fff;
  border-top: 5px solid #CD3300;
}

#tag{
  display: none;
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  background-color: #009ACD; 
  color: #fff;
  font-size: 12px;
  padding: 15px 30px;
  border-top: 10px solid white;
}

/*  Footer */
#footer_container, #foot {
  margin-top: 150px;
  border-top: 1px solid #ccc;
  background-color: #efefef;
  font: bold 100% 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  height: 300px;
  letter-spacing: -1px;
  padding: 26px 0 10px 0;
  text-align: center; 
}  

#footer_container a, #foot a { 
  color: #414f55;
}

#footer_container a:hover, #foot a:hover { 
  color: #999;
}


/* Back to top */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 40px;
  right: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #009ACD url('../images/top-arrow.svg') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover,
.cd-top.cd-is-visible:hover{
  background-color: #009ACD; #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
  