@import '../partials/variables'; // colors, fonts, etc.

.navbar-default {
  border-bottom:0px;
}

/*
    Portfolio menu (Information Architecture, Data Visualisation, etc.)
*/
#subnav_container {
  margin-top: -20px;
}

.list-group-item {
  list-style-type: none;
  line-height: 28px;
  font-size: 17px;
  font-family: $titlefont;
  background-color: #fff;
  &:first-child {
    border-top-right-radius: 0px; 
    border-top-left-radius: 0px; 
  };
  &:last-child {
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
  }
}

a.list-group-item {
  &:hover,
  &:focus {
    color: #fff;
    background-color: $blue;
    transition-duration: 500ms;
  }
}


 
/* 
    Portfolio body
*/


figure {
    position: relative;
}

img {
  max-width: 650px;
  vertical-align: top;
  border: 1px solid #efefef;
}

.thumb {
  max-width: 300px;
  margin-right: 5px;
  
}

figcaption {
  background-color: $grayback;
  padding: 5px 10px;
}


.before {
  display: inline-block;
  background-color: #333;
  padding: 8px 15px;
  color: #fff;
  position: absolute;
  top: -10px;
  opacity: .8;
}







  
