html, body {
  height: 100%;
  zbackground-color: #eee;
}

.game_container {
  position: relative;
  height: 90%;
  min-height: 500px;
  padding-bottom: 20px;
}

.game {
  min-height: 100%;
  height: 100%;
}

.card_container {
  float: left;
  width: 25%;
  height: 33.333%;
  padding: 5px;
  text-align: center;
  display: block;
  -webkit-perspective: 600px;
          perspective: 600px;
  position: relative;
  cursor: pointer;
  z-index: 50;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 800px) {
  .card_container {
    width: 33.33%;
    height: 25%;
  }
}
.card_container .card {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  zbackground: #f5b323; white;
}
.card_container .card.active, .card_container .card.matched {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: .6s ease-in-out;
  				transition: .6s ease-in-out;
}


.card_container .card_face, .card_container .card_back {
  zborder: 1px solid black;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 12px;
}
.card_container .card_face img, .card_container .card_back img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 100%;
}

.card_container .card_face {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card_back {
	background-color: #f5b323
}

.card_face {
	background-color: white; 
	border: 2px solid #f5b323;
}

@media (max-width: 800px) {
  .card_container .card_face {
    padding: 5px;
  }
}
@media (max-width: 800px) {
  .card_container .card_back {
    padding: 10px;
  }
}

